.orders-container {
  padding: 30px;
}

.orders-container-title {
  padding: 15px 0;
  font-size: 19px;
}

.orders-container-orders {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 15px;
  justify-content: center;
}

.orders-container-orders-order {
  background-color: #e9e9e9;
  border-radius: 0 6px 6px 0px;
  display: flex;
  overflow: hidden;
}

.orders-container-orders-order-left {
  border-right: dashed 1px lightgray;
  width: 60px;
  position: relative;
}

.orders-container-orders-order-left::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.orders-container-orders-order-left::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.orders-container-orders-order-body {
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.orders-container-orders-order-more {
  display: flex;
  justify-content: center;
  color: #fa8231;
  cursor: pointer;
  padding: 10px;
}
